<div class="row custom-row">
  <div class= "col-sm-5 custom-container jumbotron">

    <fieldset>
      <legend>Edit Profile</legend>
      <div>
        <div style=" float: left">

          <div class="form-group">

            <mat-form-field id="bday">
              <input matInput [matDatepicker]="picker" placeholder="Birthday">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </div>f
          <div class="form-group">
            <label for="address" >Address&nbsp;&nbsp;&nbsp;   </label>
            <input style="margin: 0.5cm" type="text"
                   id="address"
                   placeholder="New address">
          </div>

        </div>
        <div style = " float: right ; margin-left: 5cm">
          <div class="form-group">
            <label for = "tel">Telephone</label>
            <input style="margin: 0.5cm" type="text"
                   id="tel"
                   placeholder = "New UserName">
          </div>
          <div class="form-group">
            <label for="Email">E-mail&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input style="margin: 0.5cm" type="date"
                   id="Email"
                   placeholder="Update Birthday">
          </div>


        </div>
      </div>
      <div class="form-group" style = " float: right ; margin-left: 15cm" >
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </fieldset>
  </div>
</div>
