<div class="row custom-row">
  <div class= "col-sm-5 custom-container jumbotron">

    <fieldset>
      <legend>Edit Profile</legend>

        <div style=" float: left">

          <div class="form-group">

            <!--mat-form-field id="bday">
              <input matInput [matDatepicker]="picker" placeholder="Birthday">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field-->
            <div class="form-group">
              <label for="name" >Full Name </label>
              <input style="margin: 0.5cm" type="text"
                     id="name"
                     [(ngModel)] = "name"
                     placeholder="Full Name / Unchanged">
            </div>

            <div class="form-group">
              <label for="E-mail" >Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <input style="margin: 0.5cm" type="text"
                     id="E-mail"
                     [(ngModel)] = "email"
                     placeholder=" New Email address / Unchanged">
            </div>

          <div class="form-group">
            <label for="address" >Address&nbsp;  &nbsp;</label>
            <input style="margin: 0.5cm" type="text"
                   id="address"
                   [(ngModel)] = "address"
                   placeholder="New address / Unchanged">
          </div>



          <div class="form-group">
            <label for = "tel">Telephone</label>
            <input style="margin: 0.5cm" type="text"
                   id="tel"
                   [(ngModel)] = "tp"
                   placeholder = " New contact Number / Unchanged">
          </div>
          <div class="form-group">
            <label for="B'Day">BirthDay&nbsp;&nbsp;&nbsp;</label>
            <input style="margin: 0.5cm" type="date" max="2018-07-09"
                   id="B'Day"
                   [(ngModel)] = "bday"
                   placeholder="Birthday / Unchanged">
          </div>

          <div>
            <label for="select">Gender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <select [(ngModel)] = "select">
              <option *ngFor="let gen of genders" id="select">{{gen.gender}}</option>
            </select>
          </div>
          <br>

        </div>
      </div>
      <div class="form-group" style = " float: right ; margin-left: 15cm" >
        <button type="submit" class="btn btn-primary" (click)="shove()">Submit</button>
        <button type="reset" class="btn btn-default">Cancel</button>

      </div>

    </fieldset>
  </div>
</div>
