<div class="row custom-row">
  <div class= "col-sm-5 custom-container jumbotron">

      <fieldset>
        <legend>Create New Exam</legend>
        <br>
        <div>
          <label for="modCode">Module&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <select [(ngModel)] = "mCode">
            <option *ngFor="let module of allModules" id="modCode">{{module._id}}</option>
          </select>
        </div>
        <br>

        <div class="form-group">
          <label for="date">Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input style="margin: 0.5cm" type="date" min="2018-07-09"
                 id="date"
                 [(ngModel)] = "date"
                 placeholder="Date">
        </div>
        <!--mat-form-field id="date">
          <input matInput [matDatepicker]="date" placeholder="Date" [min]="minDate()">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field-->
        <br>
        <div class="form-group">
          <label for="time" >Start Time&nbsp;&nbsp;   </label>
          <input style="margin: 0.5cm" type="time" [(ngModel)] = "start_time"
                 id="time"
                 placeholder="nTime">
        </div>
        <br>
        <div class="form-group">
          <label for="venu" >Venue &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </label>
          <input style="margin: 0.5cm" type="text" [(ngModel)] = "venue"
                 id="venu"
                 placeholder="nVenue">
        </div>
        <br>
        <div class="form-group" style = " float: right ; margin-left: 15cm" >
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="create(mCode,date,start_time,venue)">Create</button>
        </div>
        <p>{{date.value}}</p>
      </fieldset>

  </div>
</div>
