<!DOCTYPE html>
<html>
<head>
  <style src='./homepage.component.css'>
  </style>
</head>
<body>

<ul>
  <li [hidden]="!user.DisplayTab.includes('home')" ><a class="active" routerLink='home'>Home</a></li>
  <li [hidden]="!user.DisplayTab.includes('profile')" ><a routerLink="profile">Profile</a></li>
  <li [hidden]="!user.DisplayTab.includes('notification')" ><a routerLink="notification">Notifications</a></li>
  <li [hidden]="!user.DisplayTab.includes('contact')" ><a routerLink="contact">Contact</a></li>
  <li [hidden]="!isLoggedIn" style="float: right "><a href="/login"  >Logout</a></li>
  <li [hidden]="!isLoggedIn" style="float: right " ><a href="" >You: {{user.UserName}}</a></li>

</ul>
<app-profile [name]="user.FirstName" [accounttype]="user.AccountType"></app-profile>
<router-outlet ></router-outlet>
</body>
</html>
