<div class="row custom-row">
  <div class= "col-sm-5 custom-container jumbotron">
    <form class="form-horizontal">
      <fieldset>
        <legend>Module details</legend>

        <mat-list >
          <mat-card *ngFor="let module of moduleDetails" ng-if="module.title!= 'undefined'">
            <h2> Title :{{module['title']}} </h2><br>
            <span> Module Code : {{module['moduleCode']}} </span><br>
            <span > Semester :{{module['semester']}} </span><br>
            <span > Batch :{{module['batch']}} </span><br>
          </mat-card>
        </mat-list>
      </fieldset>
    </form>
  </div>
</div>


