
<div class="row custom-row">
  <div class= "col-sm-15 custom-container jumbotron">

    <fieldset>
      <legend>Change Password</legend>
      <div style=" float: left">
        <div class="form-group">
          <label  for = "old">Old Password &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; </label>
          <input style="margin: 0.5cm" type="password" [(ngModel)]="old"
                 id="old"
                 placeholder = "Old password">
        </div>
        <div class="form-group">
          <label for = "new">New Password&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</label>
          <input  style="margin: 0.5cm" type="password" [(ngModel)]="neww"
                  id="new"
                  placeholder="New password">
        </div>
        <div class="form-group">
          <label for = "confirm">Confirm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</label>
          <input style="margin: 0.5cm" type="password"  [(ngModel)]="confirm"
                 id="confirm"
                 placeholder="Confirm">
        </div>
        <div class="form-group" style = " float: right ; margin-left: 15cm" >
          <button (click)="changePass()" class="btn btn-default">Change password</button>
        </div>
      </div>

    </fieldset>
  </div>
</div>
