<div class="row custom-row">
<div class= "col-sm-5 custom-container jumbotron">

  <form class="form-horizontal">
    <fieldset>
      <legend>Change Password</legend>
      <div style=" float: left">
        <div class="form-group">
          <label for = "old">Old Password &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; </label>
          <input style="margin: 0.5cm" type="password"
                 id="old"
                 placeholder = "Old password">
        </div>
        <div class="form-group">
          <label for="new">New Password&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</label>
          <input style="margin: 0.5cm" type="date"
                 id="new"
                 placeholder="New password">
        </div>
        <div class="form-group">
          <label for="confirm" >Confirm password&nbsp;&nbsp;   &nbsp;&nbsp; </label>
          <input style="margin: 0.5cm" type="text"
                 id="confirm"
                 placeholder="confirm">
        </div>
        <div class="form-group" style = " float: right ; margin-left: 15cm" >
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Change</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
</div>
