<div style="text-align:center">
  <h3>
    Welcome to {{ title }}!
  </h3>

</div>

<div class="login">

    <div >
      <label for="username">Username</label><br><br>
      <input required="" type="text" #username class="form-control" id="username" placeholder="Username" ><br>
    </div>
    <div class="form-group">
      <label for="password">Password</label><br><br>
      <input required="" type="password" #password (keyup.enter)="login(username.value, password.value)" class="form-control" id="password" placeholder="Password"><br>
    </div>
    <button (click)="login(username.value, password.value)" class="btn btn-default"> Login</button>
</div>
