ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  padding: 11px;

}

li a {
  display: block;
  color: white;
  text-space: 1cm;
  text-align: center;
  padding: 10px 6px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
