<!DOCTYPE html>
<html>
<head>
  <style src='./app.component.css'>
  </style>
  <script src ="./homepage/profile/profile.js"></script>
</head>
<body >

<ul>
  <li [hidden]="!user.DisplayTab.includes('home') || !user._isLoggedIn()" ><a class="active" routerLink='home' routerLinkActive="active" class="label label-default">Home</a></li>
  <li [hidden]="!user.DisplayTab.includes('profile')|| !user._isLoggedIn()" ><a routerLink="profile" class="label label-default">Profile</a></li>
  <li [hidden]="!user.DisplayTab.includes('notification')|| !user._isLoggedIn()" ><a (click)="clear()" routerLink="notification" routerLinkActive="active"  class="label label-default">Notifications<span class="badge">{{badge}}</span></a></li>
  <li [hidden]="!user.DisplayTab.includes('contact')|| !user._isLoggedIn()" ><a routerLink="contact" routerLinkActive="active"  class="label label-default">Contact</a></li>
  <li class="label label-default" style="float: right " (click)="logout()"><a *ngIf="user._isLoggedIn()" >Logout</a></li>
  <li class="label label-default" style="float: right "><a href="/login"  *ngIf="!user._isLoggedIn()" >Login</a></li>

  <li class="label label-default" *ngIf="user._isLoggedIn()" style="float: right " ><a href="" >You: {{user._UserName()}}</a></li>

</ul>


<router-outlet ></router-outlet>
</body>
</html>
