<div class="row custom-row">
  <div class= "col-sm-5 custom-container jumbotron">

      <fieldset>
        <legend>Create New Module</legend>
        <br>
        <div>
          <label for="select">Semester&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <select [(ngModel)] = "select">
            <option *ngFor="let Sem of allSemesters" id="select">{{ Sem.semester}}</option>
          </select>
        </div>
        <br>
        <div class="form-group" >
          <label for="batch" >Batch&nbsp;&nbsp;&nbsp;&nbsp;   </label>
          <input style="margin: 0.5cm" type="text" [(ngModel)] = "batch"
                 id="batch"
                 placeholder="">
        </div>
        <br>
        <div class="form-group">
          <label for="title" >Title&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </label>
          <input style="margin: 0.5cm" type="text" [(ngModel)] = "title"
                 id="title"
                 placeholder="">
        </div>
        <br>
        <div class="form-group">
          <label for="mCode" >Module Code&nbsp;&nbsp;&nbsp;   </label>
          <input style="margin: 0.5cm" type="text" [(ngModel)] = "mCode"
                 id="mCode"
                 placeholder="">
        </div>
        <br>
        <div class="form-group" style = " float: right ; margin-left: 15cm" >
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
        </div>
        <p>{{batch}}</p>

      </fieldset>

  </div>
</div>



