<div class="row custom-row">
  <div class= "col-sm-5 custom-container jumbotron">
    <form class="form-horizontal">
      <fieldset>
        <legend>Create New Student Account</legend>
        <br>
        <div style=" float: left">
          <label>Account Type&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <label>Student</label>
        </div>
        <br>
        <div class="form-group">
          <label for="password" >Password(Default)&nbsp;&nbsp;&nbsp;   </label>
          <input style="margin: 0.5cm" type="password" [(ngModel)] = "pass"
                 id="password"
                 placeholder="nPass">
        </div>
        <br>
        <div class="form-group">
          <label for="index" >Index Number&nbsp;&nbsp;&nbsp;   </label>
          <input style="margin: 0.5cm" type="text" [(ngModel)] = "index"
                 id="index"
                 placeholder="nIndex">
        </div>

        <br>
        <div class="form-group" style = " float: right ; margin-left: 15cm" >
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="createAccount(pass,'student',index)">Create</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>




