<a href="#demo" data-toggle="collapse"><img style="margin-left: 1cm; margin-top: 1cm" src="/assets/me.jpg" class="img-circle" width="100" height="100" m>
</a>

<div id="demo" class="collapse" style="margin-left: 1cm; margin-top: 1cm">
  <h3>Name: {{name}}</h3>
  <h3>Account Type: {{accounttype}}</h3>
</div>

<div style="width: 100%; margin-left: 1cm; margin-top: 1cm" >
  <div class="list-group-item" style="float:left; width: 20%" >
    <h5><a  routerLink='editProfile'>Edit profile</a></h5>
    <h5><a   routerLink='changePassword'>Change password</a></h5>
    <h5><a   routerLink='register'>Register new course</a></h5>
    <h5><a   routerLink="pastpapers">Past Papers</a></h5>

  </div>
  <div style="float:left; margin-left: 1cm">
    <router-outlet></router-outlet>
  </div>
</div>
