
<div style="width: 100%; margin-left: 1cm; margin-top: 1cm" >
  <div class="list-group-item" style="float:left; width: 20%" >
<!--
    common
-->
    <h5><a  routerLink='editProfile'>Edit profile</a></h5>
    <h5><a   routerLink='changePassword'>Change password</a></h5>
<!--
    student
-->
    <h5><a  [hidden]="!isStudent" routerLink='register'>Register new course</a></h5>
    <h5><a  [hidden]="!isStudent" routerLink="results">Results</a></h5>
    <h5><a  [hidden]="!isStudent" routerLink="pastpapers">Past Papers</a></h5>
    <h5><a   [hidden]="!isStudent"routerLink="recorrection">Request fo recorrecction</a></h5>
    <h5><a  [hidden]="!isStudent" routerLink="requestRepeat">Request for repeat</a></h5>
    <h5><a   [hidden]="!isStudent" routerLink="inqueries">Inqueries</a></h5>
    <h5><a   [hidden]="!isStudent" routerLink="exams">Upcomming exams</a></h5>

    <!-- lecturer-->
    <h5><a   [hidden]="!isLecturer" routerLink="moduleDetails">Modules</a></h5>
    <h5><a   [hidden]="!isLecturer" routerLink="addResult">Add Result</a></h5>
    <h5><a   [hidden]="!isLecturer" routerLink="editResult">EditResult</a></h5>
    <h5><a   [hidden]="!isLecturer" routerLink="addMessage">Add new Message</a></h5>
    <h5><a   [hidden]="!isLecturer" routerLink="viewMessage">View messages</a></h5>
    <h5><a   [hidden]="!isLecturer" routerLink="studentDetails">Show student details</a></h5>

    <!-- admin-->
    <h5><a [hidden]="!isAdmin" routerLink="createStudent">Create Student Account</a></h5>
    <h5><a [hidden]="!isAdmin" routerLink="createLecturer">Create Lecturer Account</a></h5>
    <h5><a [hidden]="!isAdmin" routerLink="createModule">Create Module</a></h5>
    <h5><a [hidden]="!isAdmin" routerLink="createExam">Create New Exam</a></h5>
    <h5><a [hidden]="!isAdmin" routerLink="deleteExam">Delete Scheduled Exam</a></h5>
    <h5><a [hidden]="!isAdmin" routerLink="addRepeaters">Add Repeaters</a> </h5>
    <h5><a [hidden]="!isAdmin" routerLink="viewRepeaters">View Repeat Students</a> </h5>
    <h5><a [hidden]="!isAdmin" routerLink="viewUserInquiries"></a>Display User Inquiries</h5>

  </div>
  <div style="float:left; margin-left: 1cm">
    <router-outlet ></router-outlet>
  </div>
</div>
