<div class="row custom-row">
  <div class= "col-sm-5 custom-container jumbotron">
    <form class="form-horizontal">
      <fieldset>
        <legend>User Inquiries</legend>

        <mat-list >
          <mat-list-item *ngFor="let nextItem of inquiries" ng-if="nextItem.topic!= 'undefined'">
            <div > Topic :{{nextItem['topic']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </div>
            <div> Index Number : {{nextItem['index']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>


            <div > Date & Time :{{nextItem['dateTime']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>

            <div > Description :{{nextItem['description']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>

          </mat-list-item>
        </mat-list>
      </fieldset>
    </form>
  </div>
</div>
